/* screen - android */

.android {
  background-color: rgba(255,255,255,1.0);
  height: 640px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 360px;
}
.android .contents-C61RwL {
  background-color: rgba(255,255,255,1.0);
  height: 473px;
  left: 22px;
  position: absolute;
  top: 60px;
  width: 315px;
}
.android .cow-C61RwL {
  background-color: transparent;
  height: 64px;
  left: 221px;
  position: absolute;
  top: 546px;
  width: 67px;
}
.android .upload-C61RwL {
  background-color: transparent;
  height: 80px;
  left: 65px;
  position: absolute;
  top: 538px;
  width: 80px;
}
.android .wagyuer-C61RwL {
  background-color: transparent;
  color: rgba(0,0,0,1.0);
  font-family: 'Rammetto One', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: 43px;
  left: 93px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 163px;
}