@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');


label, button{
    appearance: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
}
label, button {
  position: relative;
  display: block;
  padding: 1em 2em 1em 1em;
  width: 120px;
  font-size: 12px;
  color: #fff;
  text-align: center;
    line-height: 1;
  background: #5bbee5;
  background: linear-gradient(to right, #5bbee5, #52ddae);
  text-indent: 0.1em;
  letter-spacing: 0.1em;
  border-radius: 1.5em;
}

label:after, button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.5em;
  margin: auto;
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: rotate(45deg);
  transition: right 0.5s;
}

label:hover:after, button:hover:after{
  right: 1em;
}


#id_img {
  display: none;
}

i{
  width: 80%;
  margin: 0 auto;
}

#logo{
  font-size: 30px;
  text-align: center;
  font-family: 'Rammetto One', cursive;
}