{% load static %}
<!DOCTYPE html>

<html>

<head>
    <title>わぎゅあー</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token%}
        <label>
            <div>画像を選択</div>
            <img src="{% static 'image/ushi.png' %}" width="50%" height="50%">
            {{ form.img }}
        </label>
        <button type="submit">Upload</button>
    </form>
</body>

</html>